# Binaries
/bin
/dist

# Go
vendor/
*.exe
*.exe~
*.dll
*.so
*.dylib1
*.test
*.out

# Frontend & Electron
node_modules/
src/renderer/dist/
src/renderer/node_modules/
src/main/dist/
src/preload/dist/
dist/
build/dist/

# IDEs
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Logs
*.log
